body {
  margin: 0;
  background-color: #f2f2f2;
}

.mynavvbar {
  z-index: 1;
  opacity: 0.9;
  display: flex;
  background-color: #34393f;
  padding: 17px 10px 5px 10px;
  width: 100%;
  top: 4%;
  position: fixed;
  border-bottom: #17a2b8 1px solid;
  flex-wrap: wrap;
  transform: translateY(-50%);
}
.listnavbar {
  display: flex;
  margin: 0 20px;
}

.Search-nav {
  margin-right: 10px;
}
.linknav {
  position: relative;
  display: table-cell;
  text-align: center;
  width: 33.333%;
  /* color: white; */
  padding: 10px 7px;
  font-size: 10px;
  color: #949494;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  transition: 0.2s ease color;
}
.linknav:before,
.linknav:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}
.linknav:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

.linknav:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

.linknav:before {
  background-color: #00e2ff;
}

.linknav:after {
  background-color: #89ff00;
}
.contactttt {
}
#indicator {
  display: none;
  margin: 0 10px;
  width: 35px;
  height: 3px;

  border-radius: 5px;
  transition: 0.7s ease left;
}

.linknav:hover {
  color: #fff;
}

.linknav:hover:before,
.linknav:hover:after {
  transform: scale(1);
}

.linknav:hover ~ #indicator {
  display: block;
  background: linear-gradient(130deg, #00e2ff, #89ff00);
}

li {
  list-style: none;
}

/* .linknav:hover {
  color: aqua;
} */
.homecontainer {
  position: relative;
}
.backgroundimage {
  position: absolute;

  height: 654px;
}
.textcontainer {
  font-size: 50px;
  position: absolute;
  top: 130px;
  left: 50px;
  color: white;
}
.boutton-container-log {
  position: relative;
  align-items: center;
  display: flex;
  z-index: 1;
  justify-content: center;
  top: 400px;
}
.boutton-log {
  padding: 15px 30px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.signupbut {
  background-color: #17a2b8;
  color: white;
}
.boutton-log:hover {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myinput {
  padding: 8px 40px;
  margin: 5px 10px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(107, 130, 125, 1);
  -moz-box-shadow: 0px 5px 13px 0px rgba(107, 130, 125, 1);
  box-shadow: 0px 5px 13px 0px rgba(107, 130, 125, 1);
}
.typeuser {
  padding: 8px 87px;
  margin: 5px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(107, 130, 125, 1);
  -moz-box-shadow: 0px 5px 13px 0px rgba(107, 130, 125, 1);
  box-shadow: 0px 5px 13px 0px rgba(107, 130, 125, 1);
}
.birthday {
  padding: 6px 55px;
  margin: 5px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(107, 130, 125, 1);
  -moz-box-shadow: 0px 5px 13px 0px rgba(107, 130, 125, 1);
  box-shadow: 0px 5px 13px 0px rgba(107, 130, 125, 1);
}
.alert {
  padding: 10px 80px;
  border-radius: 5px;
}
.logout {
  margin: 0 30px 2px 8px;
}
.alert-danger2 {
  border: solid 1px;
  background-color: #ca4444;
  color: white;
  position: absolute;
  margin: 70px;
  width: 78%;
  top: 650px;
}
.alert-danger {
  border: solid 1px;
  background-color: #ca4444;
  color: white;
  margin: 0 400px;
}
.alert-danger3 {
  width: 78%;
  border: solid 1px;
  background-color: #ca4444;
  color: white;
  margin: 0 70px;
  position: relative;

  top: 800px;
}
.alert-0 {
  margin-top: 70px;
}
.alert-success {
  background-color: green;
  color: white;
  position: absolute;
  margin: 70px;
  width: 78%;
  top: 650px;
}
.alert-success2 {
  background-color: green;
  color: white;
  position: absolute;
  margin: 70px;
  width: 78%;
  top: 590px;
}
.submitcreatepro {
  padding: 8px 101px;
  margin: 5px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(107, 130, 125, 1);
  -moz-box-shadow: 0px 5px 13px 0px rgba(107, 130, 125, 1);
  box-shadow: 0px 5px 13px 0px rgba(107, 130, 125, 1);
}
.submitcreatepro:hover {
  background-color: #17a2b8;
  color: white;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}

.signuplogo {
  font-size: 60px;
  text-align: center;
  color: #17a2b8;
  margin: 70px 0 0 0;
  /* margin-left: 50px; */
}
.create-pro {
  display: flex;
  justify-content: center;
}
.paragraphe-create-pro {
  font-size: 27px;
  margin: 10px 0;
  color: #393333;
}
.faUser {
  /* margin: 10px 0; */
  font-size: 20px;
  padding: 0 7px 0;
  color: white;
}
.logbor {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin: 90px 0;
  padding: 0 20px 50px 20px;
  opacity: 0.9;
  background-color: white;
}
.bodyregister {
  display: flex;
  justify-content: center;
}
.dashbordbuttonedi {
  cursor: pointer;
  padding: 10px 50px;
  background-color: #f4f4f4;
  color: black;
  margin: 20px 10px;
  border-radius: 5px;
}
.firstbuttdashhas {
  margin-left: 70px;
}
.faUserCircle {
  margin: 0 7px;
  font-size: 17px;
  /* color: #17a2b8; */
}
.faBlackTie {
  margin: 0 7px;
  font-size: 17px;
  /* color: #17a2b8; */
}
.faGraduationCap {
  margin: 0 7px;
  font-size: 17px;
  /* color: #17a2b8; */
}
.formsignupreg {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 90px 0;
  padding: 0 40px 50px;
  opacity: 0.9;
}
.footerhome {
  text-align: center;
  color: #3c5673;
}
.spansign {
  color: blue;
  text-decoration: none;
}
.spansign:hover {
  text-decoration: none;
  color: red;
}
.spansign:active {
  color: blue;
  text-decoration: none;
}
.spansign:link {
  color: blue;
  text-decoration: none;
}
.stype-dash-title {
  color: #17a2b8;
  font-size: 40px;
  margin: 10% 0 0 18%;
}
.titlecreateprofile {
  color: #17a2b8;
  font-size: 50px;
  margin: 70px 0 0 5px;
}
.praracreateprofile {
  font-size: 25px;
  margin: 20px 0 15px 5px;
}
.faUsertitle2 {
  margin: 0 5px 0 0;
}
.requireinput {
  font-size: 20px;
  margin: 10px 0 0 5px;
  color: #888;
}
.welcome-Title {
  font-size: 40px;
  margin: 12% 0 0 3%;
}
.faUsertitle {
  margin: 0 8px 0 0;
  color: black;
}
.PrographeNoProfile {
  margin: 30px 0 0 70px;
}
.buttonCreateProfile {
  padding: 13px 24px;
  border-radius: 4px;
  background-color: #17a2b8;
  color: white;
  margin: 30px 0 0 70px;
}
.buttonCreateProfile:hover {
  -webkit-box-shadow: 0px 17px 22px -13px rgba(23, 163, 184, 1);
  -moz-box-shadow: 0px 17px 22px -13px rgba(23, 163, 184, 1);
  box-shadow: 0px 17px 22px -13px rgba(23, 163, 184, 1);
  cursor: pointer;
}
.formprofilecreate {
  display: flex;
  flex-direction: column;
}
.formprofilecreate:first-child {
  margin-top: 40px;
}
.myinputCreateProfile {
  margin: 5px 20% 0 0;
  padding: 8px 40px;
  -webkit-box-shadow: 1px 5px 18px 0px rgba(181, 179, 181, 1);
  -moz-box-shadow: 1px 5px 18px 0px rgba(181, 179, 181, 1);
  box-shadow: 1px 5px 18px 0px rgba(181, 179, 181, 1);
  border-radius: 5px;
}
.infocreateprof {
  margin: 7px 0 10px 70px;
  color: #888;
}
.social {
  margin-left: 5px;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
}
.faFacebook {
  color: #4267b2;
  font-size: 50px;
}
.faYoutube {
  color: red;
  font-size: 50px;
}
.faLinkdin {
  font-size: 50px;
}
.faTwitter {
  font-size: 44px;
  color: rgba(29, 161, 242, 1);
}
.faInstagram {
  font-size: 50px;
  color: blue;
}
.socialinput {
  padding: 15px 20px;
  width: 88%;
  margin: 0 0 20px 10px;
  -webkit-box-shadow: 1px 5px 18px 0px rgba(181, 179, 181, 1);
  -moz-box-shadow: 1px 5px 18px 0px rgba(181, 179, 181, 1);
  box-shadow: 1px 5px 18px 0px rgba(181, 179, 181, 1);
  border-radius: 5px;
}
.addsoc {
  padding: 10px 20px;
  border-radius: 5px;
  margin: 70px 0 40px 42%;
  background-color: #17a2b8;
  color: white;
  width: fixed;
  width: 220px;
}
.buttonSubProfCRE {
  margin: 5px 70px 0 70px;
}
.subprof {
  padding: 15px 20px;
  margin-right: 20px;
  background-color: #17a2b8;
  color: white;
}
.backprof {
  padding: 15px 20px;
}
.mybodylog {
  display: flex;
  justify-content: center;
  /* position: relative; */
}
.imageloginn {
  position: absolute;
  width: 100%;
  height: 654px;
  margin: 0;
}
.butt {
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}
.buttsubeduca {
  margin: 180px 30px 10px 70px;
}
.experiencecontainer {
  display: flex;
  flex-direction: column;
}
.my-2 {
  /* margin: 211% 70px; */
  position: absolute;
  top: 25%;
  /* margin-top: 20%; */
}
.my-1 {
  margin-left: 25px;
}
.create-cours {
  margin-left: 75px;
}
.table {
  margin: 20% 0;
}
.hide-sm {
  background-color: white;
  color: black;
  width: 150px;
  padding: 25px 40px;
}
.info-table {
  width: 100px;
  padding: 25px 40px;
}
.info-table-date {
  display: flex;
  flex-direction: row;
  padding: 15px 40px;
}
.btn-danger {
  padding: 15px 30px;
  margin: 5px;
  background-color: #dc3545;
  color: white;
}
.btn-danger:hover {
  opacity: 0.8;
  cursor: pointer;
}
.spacee {
  background-color: white;
  color: black;
  width: 20px;
}
.myProfile {
  display: flex;

  flex-direction: column;
}

.pdpandname {
  display: flex;
  /* flex: 1; */
  align-items: center;
  margin: 4% 10% 10% 10%;
  flex-direction: column;
}
.photo-de-profile {
  border-radius: 50%;
  z-index: 2;
}
.info-here {
  opacity: 0.9;
  position: absolute;
  width: 93%;
  left: 3.5%;
  border-radius: 5px;
  background-color: white;
  z-index: 1;
  top: 40%;
  height: 100%;
}
.header {
  margin: 100px 30px 0;
  padding-bottom: 15px;
}
.myname {
  text-align: center;

  padding-top: 8%;
  margin: 0 0 0 0;
  font-size: 45px;
  font-weight: bold;
  color: #7d7d7d;
}
.positin-button-action-profile {
  margin: 200px 20px 0 20px;
}
.social-profile {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-left: 40%;

  width: 280px;
  justify-content: center;
}
.typeuserprofile {
  text-align: center;
  margin-top: 25px;
  color: #c1c1c1;
}

.space-social {
  margin-right: 10px;
}
.box-education {
  flex: 1;
  border: solid 1px white;
  width: 100%;
  height: 192px;
  margin: 3% 70px 10% 0;
  border-radius: 5px;
  background-color: #f2f2f2;
}
.educview {
  display: flex;
  flex-direction: row;
}
.espacebox {
  margin: 10px 15px;
}
.butteditprofile {
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #f4f4f4;
  color: black;
  border-radius: 5px;
}
.essspace {
  margin-left: 5px;
}
.navbaradmin {
  /* display: flex; */
  position: absolute;
  left: 70%;
  top: 15px;
  font-size: 18px;
}

.navbarlogin {
  display: flex;
}
.addbut {
  color: blue;
  text-decoration: none;
}
.addbut:hover {
  color: red;
}
.faSearch {
  margin-right: 3px;
}

.profile {
  border: solid white 1px;
  margin: 50px 70px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
  justify-content: space-between;
}
.squard-img {
  height: 70px;
  width: 70px;
  margin: 20px 10px 20px 30px;
  border-radius: 50%;
}
.all-profile {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 5px;
}

.firstpart-req {
  margin-top: 5px;
}

.name-send-req:hover {
  color: #4080ff;
  cursor: pointer;
}

.searchforpreople {
  margin: 100px 200px 0 200px;
  color: #17a2b8;
  font-size: 40px;
}

.back-prof {
  position: absolute;
  z-index: -1;
  top: 9%;
  width: 100%;
  height: 100%;
  left: 0;
}
.invitation-position {
  display: flex;
  justify-content: center;
}
.post {
  display: flex;
  flex-direction: column;
  margin: 30px 70px;
  border: solid white 1px;
  background-color: white;
  border-radius: 7px;
  width: 76%;
}
.post-icon {
  display: flex;
  flex-direction: row;
}
.name-post {
  margin: 30px 0 0 0;
}

.infopost {
  display: flex;
  flex-direction: column;
}
.post-date {
  margin-left: 110px;
  margin-top: -30px;
}
.squard-img2 {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 20px 10px 0 30px;
}
.buttpost {
  display: flex;
  flex-direction: column;
}
.listbuttpost {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}
.post-title {
  margin: 10px 200px 10px 70px;
  font-size: 35px;
  font-weight: bold;
}
.btn-post {
  padding: 5px 20px;
  background-color: #f4f4f4;
  margin: 5px;
}
.lead {
  margin: 90px 0 10px 70px;
  font-size: 30px;
}
.post-title {
  background-color: #17a2b8;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.create-post {
  margin: 0 200px 0 70px;
  width: 75.9%;
}
.post-form {
  display: flex;
  flex-direction: column;
}
.btn-sub {
  background-color: #6aafff;
  color: white;
  margin: 10px 0 10px 35px;
  width: 200px;
  padding: 10px 20px;
  border-radius: 5px;
}
.header-row {
  display: flex;
  flex-direction: row;
}
.authok {
  margin: 20% 46%;
}
